.card {
  position: relative;
  width: calc(calc(100% / 10) - 10px);
  height: 200px;
  margin: 5px 0;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 250ms ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
}

.card:nth-child(4n + 1) {
  margin-left: 0;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.card .card-front {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform: rotateY(180deg);
}

.card .card-front :global(.icon) {
  font-size: 80px;
}

.card .card-back {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #999;
  border-radius: 10px;
}

.card:hover .card-back {
  box-shadow: 0 0 10px #999;
}

.card .card-back::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background: url(./backpatron.png) repeat;
  background-size: 27px;
}

.card .card-back :global(.icon) {
  font-size: 50px;
  z-index: 1;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

@media (max-width: 768px) {
  .card {
    width: calc(calc(100% / 4) - 10px);
    height: 180px;
  }
}

@media (max-width: 600px) {
  .card {
    width: calc(calc(100% / 4) - 10px);
    height: 100px;
  }
}
